body{
    font-family: 'Ubuntu', sans-serif;
}

a{
  color: #6f42c1!important;
}

.cor-roxa{
    color: #6f42c1!important;
}

.logoff-icone{
    font-weight: bold!important;
}

/*  Menu e Navbar */


.header-main {
    position: relative;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #6f42c1!important;
}


.brand-wrap {
    text-decoration: none !important;
}

.icon-sm {
    width: 48px;
    height: 48px;
    line-height: 48px !important;
    font-size: 20px;
}

.widget-header {
    display: inline-block;
    vertical-align: middle;
    position: relative
}

.widget-header .notify {
    position: absolute;
    top: -3px;
    right: -10px;
}

.notify {
    position: absolute;
    top: -4px;
    right: -10px;
    display: inline-block;
    padding: .25em .6em;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    border-radius: 3rem;
    color: #fff;
    background-color: #fa3434;
}

.mr-3,
.mx-3 {
    margin-right: 1rem !important;
}

.search-form {
    border: 1px solid #ffffff !important;
}

.search-button {
    color: #6f42c1!important;
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar-main {
    background-color: #fff;
}

.navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1) !important;
}

.navbar-toggler {
    padding: 4px;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.37rem;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .5rem 7px 0px;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .45rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.navbar-toggler-icon {
    background-image: url(https://img.icons8.com/ios/50/000000/menu.png);
}

.nav-link {
    font-weight: 400;
}

.vl {
    border-left: 1px solid #fff;
    height: 100%;
}

.icone-pesquisa {
    color: #6f42c1!important;
}

.fa {
    color: #fff;
}

.badge{
    font-size: 60%!important;
}

.icones-menu{
    color: #ffc107!important;
}

.menu-nav-login{
    color: #ffc107!important;
}

.login {
    color: white;
}

.item:active {
    color: #6f42c1!important;
    text-decoration: none;
    background-color: #ffc107!important;
}


/*  Menu e Navbar */



/* PAINEL CLIENTE */


.list-group-item.active {
    color: #6f42c1!important;
    border-color: #6f42c1!important;;
}

.info-painel{
    background-color: #6f42c1!important;
    border-color: #6f42c1!important;
    color: #ffc107!important;
}

.titulo-tabela{
    background-color: #6f42c1!important;
    color: #ffc107!important;
    border-color: #6f42c1!important;
}

.nome-produto{
    font-size: 15px;
}

.menu-cate:hover{
    background-color: #6f42c1!important;
    color: #ffc107!important;
    transition: 0.3s;
}

.botao-carrinho:hover{
    background-color: #6f42c1!important;
    color: #ffc107!important;
    transition: 0.3s;
    border-color: #6f42c1!important;
}
.foto-produto:hover{
    -webkit-transform: scale(1.08);
    transform: scale(1.02);
    transition: 0.3s;
}

@media (min-width: 768px){

.card-categoria{
    margin-top: 100px!important;
}
}

@media (max-width: 768px){
    .painel-aba{
        margin-top: 10px!important;
    }
}

.card-categoria{
    margin-top: 100px!important;
}
    

.card-categoria{
    margin-top: 100px!important;

}


/* CONTATO */
.contact{
    padding: 4%;
    height: 400px;
}
.msg{
    background: #ffc107;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #ffc107;
    color: #6f42c1;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}

.contact-form button:hover{
    background: #6f42c1;
    color: #ffc107;
}
/* CONTATO */







