body{
    font-family: 'Ubuntu', sans-serif;
}

a{
  color: #6f42c1!important;
}

.cor-roxa{
    color: #6f42c1!important;
}

.logoff-icone{
    font-weight: bold!important;
}

/*  Menu e Navbar */

.link-menu-top{
	color: #6f42c1!important;
	font-weight: bold;
}

.link-menu-top:hover{
    color: purple!important;
    transition: 0.3s;
}


.preco-cor{
    color: #6f42c1;
}

.link-produtos{
    color: black;
    text-decoration: none;
}
.link-produtos:hover{
    text-decoration: none;
    color: black;
}


/*  Menu e Navbar */



/* PAINEL CLIENTE */


.list-group-item.active {
    color: #6f42c1!important;
    border-color: #6f42c1!important;;
}













a{
    color: #6f42c1!important;
}

.info-painel{
    background-color: #6f42c1!important;
    border-color: #6f42c1!important;
    color: #ffc107!important;
}

.titulo-tabela{
    background-color: #6f42c1!important;
    color: #ffc107!important;
    border-color: #6f42c1!important;
}

.nome-produto{
    font-size: 15px;
}

.menu-cate:hover{
    background-color: #6f42c1!important;
    color: #ffc107!important;
    transition: 0.3s;
}

.botao-carrinho:hover{
    background-color: #6f42c1!important;
    color: #ffc107!important;
    transition: 0.3s;
    border-color: #6f42c1!important;
}
.foto-produto:hover{
    -webkit-transform: scale(1.08);
    transform: scale(1.02);
    transition: 0.3s;
}

@media (min-width: 768px){

.card-categoria{
    margin-top: 100px!important;
}
}

@media (max-width: 768px){
    .painel-aba{
        margin-top: 10px!important;
    }
}

.card-categoria{
    margin-top: 100px!important;
}
    

.card-categoria{
    margin-top: 100px!important;

}


/* CONTATO */
.contact{
    padding: 4%;
    height: 400px;
}
.msg{
    background: #ffc107;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #ffc107;
    color: #6f42c1;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}

.contact-form button:hover{
    background: #6f42c1;
    color: #ffc107;
}
/* CONTATO */







